################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore build output
bin/
obj/

# Ignore Visual Studio temporary files
.vs/

# Ignore API key
api_key.txt

